.ChallengeToGameDialog {
  max-width: 500px;
}

.ChallengeToGameDialog > h1 {
  margin-bottom: 40px;
}

.ChallengeToGameDialog > div {
  background-color: #eee;
  padding: 20px;
  border-radius: 5px;
}

.game-link {
  display: inline-block;
  background-color: #ddd;
  padding: 10px 55px 10px 15px;
  border-radius: 5px;  
}

.copy-link {
  position: relative;
  top: 12px;
}