.square {
  /*background-color: rgb(229, 243, 248);*/
  
  width: 50px;
  height: 50px;
  text-align: center;
}

.square.even {
  background-color: #dee3e6;  
}

.square.odd {
  background-color: #788a94;
}

.square.highlight {
  /*background-color: rgba(155,199,0,0.41)*/
  background-color: rgb(252, 252, 192);
}

.square img {
  width: 50px;
}