.Timer {
  font-family: 'Roboto', Sans-Serif;
  font-size: 50px;
  letter-spacing: 0.1em;
  background-color: white;
  padding: 0 10px;
  color: #4d4d4d;
}

.Timer > .sep {
  opacity: 0.5;
  font-size: 0.8em;
  line-height: 1.2em;
}